.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
logs/
*.bun-build

#person 
person-notes.md
ORCHESTRATION-PenTest-MoEv0-1.md
agen-2.md
agen-3.md
agent-1.md
agent-4.md
agent-5.md
not-git-stuff/*
OG-Stuff/*
AAAA_not-git-stuff/*